.reveal
{
  background-color: #2F3242;
}

.reveal pre
{
  box-shadow: none;
}

.reveal section img
{
  border-width: 0px;
  background: none;
  box-shadow: none;
}

.reveal section img.social-media-icon
{
  width: 50px;
  vertical-align: middle;
}

.reveal section img.social-media-icon.social-media-icon-small
{
  width: 25px;
}

span.social-media-handle
{
  font-size: 50px;
  vertical-align: middle;
}

span.social-media-handle.social-media-handle-small
{
  font-size: 25px;
}
